body {
    background: rgb(22, 16, 50);
    background: linear-gradient(90deg, rgba(22, 16, 50, 1) 0%, rgba(45, 30, 90, 1) 100%);
    color: #fff;
    overflow: hidden;
}

.card {
    border: none;
    border-radius: 10px;
    background-color: rgba(14, 11, 35, 0.7); 
}

.card-body {
    padding: 2rem;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    border: none;
    height: 60px
}

.form-control:focus {
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    box-shadow: none;
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }

#submit-button {
    background-color: #9026a1;
    border: none;
    color: #fff;
}

#submit-button:hover {
    background-color: #b700d3;
    color: #fff;
}

#submit-button:active {
    background-color: #b700d3;
    color: #fff;
}

#submit-button:disabled {
    background-color: #5c146f;
    color: #fff;
}

.alert {
    margin-top: 2rem;
}

.alert-success {
    background-color: #0eb05f;
    border-color: #0eb05f;
    color: #f5f5f5;
}

.alert-success:hover {
    background-color: #18a669;
    color: #f5f5f5;
}

.alert-danger {
    background-color: #ff5a5a;
    border-color: #ff5a5a;
    color: #f5f5f5;
}

.alert-danger:hover {
    background-color: #e34b4b;
    color: #f5f5f5;
}

.osmosis-logo {
    width: 100px;
    height: 100px;
    margin: 0 auto 2rem;
    display: block;
}
